<link rel="stylesheet" href="/css/footer.css">
<footer>
  <div>
    <p>©2023 keshavkumar</p>
  </div>
  <div>
    <p>Important Links</p>
    <a href="/user/profile">Profile</a>
    <a href="/">Home</a>
  </div>
</footer>