<link rel="stylesheet" href="/css/header.css">
<header>
  <div>
    <h3>CODIAL</h3>
  </div>
  <div id="links">
    <%if(locals.user){%>
      <a href="/user/signout">SignOut</a>
    <%}else{%>
      <a href="/user/login">LogIn</a>
      <a href="/user/signup">SignUp</a>
    <%}%>
  </div>
</header>