<link rel="stylesheet" href="/css/home.css">

<div>
    <section id="feed-posts">
        <%if(locals.user){%>
            <form action="/posts/create" id="newPost" method="post" >
                <textarea name="content" cols="40" rows="3" required></textarea>
                <input type="submit" value="Post">
            </form>
        <%}%>
        <h4>Recent Posts</h4>
        <div>
            <%-include('_displaypost')-%>
        </div>
    </section>
    
    <section id="user-friends">
        <h2>Friends</h2>
        <%for(u of all_users){%>
        <p>
            <a href="/user/profile/<%=u.id%>"><%=u.name%></a>
        </p>
        <%}%>
    </section>
</div>

<script src="/js/home.js"></script>