<link rel="stylesheet" href="/css/login.css">

<h1>Log In</h1>

<div>
  <form action="user/create-session" method="post">
    <p>Enter your userId or email</p>
    <input type="text" name="email" required>
    <p>Enter password</p>
    <input type="password" name="password" required>
    <button type="submit">Submit</button>
  </form>
</div>

<script src="/js/login.js"></script>