<link rel="stylesheet" href="/css/login.css">

<h1>Log In</h1>

<div>
  <form action="/user/create-session" method="post">
    <p>Enter your userId or email</p>
    <input type="text" name="email" placeholder="Your email" required>
    <p>Enter password</p>
    <input type="password" name="password" placeholder="Your password" required>
    <button type="submit" name="loginUser">Submit</button>
  </form>

  <p>
    <a href="/user/auth/google">Google SignIn/ SignUp</a>
  </p>
</div>

<script src="/js/login.js"></script>