<link rel="stylesheet" href="/css/signup.css">

<h2>Sign Up</h2>

<div>
  <form action="/user/create" method="post">
    <p>Choose your user id</p>
    <input type="text" name="userid" placeholder="Your UserID" required>
    <p>Enter your email</p>
    <input type="email" name="email" placeholder="Your email" required>
    <p>Choose password</p>
    <input type="password" name="password" placeholder="Your password" required>
    <p>Re-enter password</p>
    <input type="password" name="confirmPassword" placeholder="Confirm password" required>
    <p>Enter your name</p>
    <input type="text" name="name" placeholder="Your name" required>
    <button type="submit" name="submitUser">Submit</button>
  </form>
</div>